<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <i class="fa fa-lg fa-envelope icon"></i>
            {{ site.email }}
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-lg fa-github icon"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-lg fa-twitter icon"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

        <ul class="social-media-list">
          {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-lg fa-linkedin-square icon"></i>
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-lg fa-facebook-square icon"></i>
              <span class="username">{{ site.facebook_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
    </div>

  </div>

</footer>
{% if page.include_shadowbox %}
  <script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
  <script type="text/javascript">
    Shadowbox.init({overlayOpacity:0.8});
  </script>
{% endif %}
